*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    width: 420px;
    background: rgb(170, 228, 228);
    color:#ffff;
    border-radius: 5%;
    padding: 30px 30px;
    border: 3px solid rgb(12, 4, 12);
    }

h1{
    text-align: center;
    
    
}

.btn{
    width: 100%;
    height: 40px;
}

.link {
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(73, 73, 255, 0.932);
   border: 1px solid blue;
   border-radius:5px;
   margin-top: 10px;
   height: 60px;
   width: 9,5cm;
      
}

.link:hover{
    background-color: rgba(52, 52, 202, 0.932);
}
.text{
    color: white;
    text-decoration: none;
}

.green{
    background-color: green;
}