.container1{
    background-color: #f5f5dc;
}

.container2{
    margin-left: 45px;
}
.container3{
    text-align: center;
    margin-top: 350px;
}
hr{
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: rgb(145, 14, 14);
    margin-bottom: 50px;
}