
body {background-color: beige;
    
    font-family: Arial, sans-serif;}


.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e6dfdf;
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
img{
    width: 600px;
    height: 500px;}

    .login-container button:hover {
    background-color: #0056b3;
}
.name{background-color: red;

}
.aboutme{
    background-color: green;
}