h1{
    color: deeppink;
    text-align: center;
    font-family: 'Roboto Serif', serif;
    font-size: 80px;
    margin-bottom: 0px;  
    margin-top: 5px;       
}

h2{
    color: palevioletred;
    text-align: center;
    font-family: 'Roboto Serif', serif;
    font-size: 40px;
    margin-top: 0px;  
   }

body{
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
}

li {
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    color: hotpink;
    display: inline;
    margin-right: 40px; 
}

    a:link {
        color: deeppink;
     
            }
    a:visited {
        color: deeppink;

    }

    .container {
        text-align: center;
        color: rgb(202, 20, 114);
        background-color: lightpink;
        font-weight: 700;
        font-style: initial;
       border-color: pink;
    }

    /*Meine Geschichte Style*/

  .bord{
  width: 700px;
  border: 15px solid rgb(161, 83, 131);
  padding: 30px;
  display: inline-block;  
  vertical-align: top;
  
  }
  
    .Z1{
    font-size: 20px;
    color: darkorchid;
    font-family: copperplate;
    text-align: left;
    font-weight: 900;
   }

   .Z2{
    font-size: 20px;
    color: mediumvioletred;
    font-family: copperplate;
    text-align: left;
    font-weight: 900;
   }
    
   .Titel{
    font-size: 25px;
    font-family: copperplate;
    color: deeppink;
    font-weight: bold;
    text-align: left;
    text-decoration: wavy;
   }    
    
      
       li {
        list-style: none;
        font-size: 20px;
        font-family: copperplate;
        color: hotpink;
        display: inline;
        margin-right: 40px;             
            }
      
    a:link {
        color: deeppink;     
            }
    a:visited {
        color: deeppink;    
    }
    
    /*Kontaktdaten*/ 

body{
    background-size: cover;
}

    .BOX {
        padding: 10px;
        background: fixed;
        color: rosybrown;
        border: 5px; 
        border-radius: 5px;   
        
    }
    
.text3{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 18px;
    color: darkmagenta;  
}

.text4{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
    font-size: 18px;
    color: rgb(197, 66, 153);
}

.hr4{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    color: palevioletred;
    font-weight: 900;
    font-size: 21px;
    text-decoration: underline;

    }

    li {
        list-style: none;
        font-size: 20px;
        font-family: 'Roboto Serif', serif;
        color: hotpink;
        display: inline;
        margin-right: 40px;       
              
        }
    
        a:link {
            color: deeppink;
         
                }
        a:visited {
            color: deeppink;
    
        }

.btn-group {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center; 
}

/*Transparente Box grey*/

.container-grey {
    text-align: center;
    color: hotpink;
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
    font-weight:700;
    font-style: initial;
    border-color: pink;
    width: 500px;
    margin: auto;
    padding: 10px;

}

/*Urkunde*/

body{
    background-size: cover;
}

h1{
    color: deeppink;
    font-weight: 900;
    text-align: center;
    font-family: 'Roboto Serif', serif;
}

li {
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    color: hotpink;
    display: inline;
    margin-right: 40px;       

    }

    a:link {
        color: deeppink;
     
            }
    a:visited {
        color: deeppink;
    }